.App {
  text-align: center;
  background-color: #f5f6fa;
  height: 100vh;
}

.homehomemain {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  min-height: 75px;
}

.quanment {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #000000;
  text-align: left;
  line-height: 31px;
  width: 126px;
  height: 29px;
  font-size: 21px;
  opacity: 1;
  cursor: pointer;
  text-decoration: none;
}

.history {
  font-family: "Poppins", sans-serif;
  color: #000000;
  text-align: right;
  line-height: 31px;
  width: 126px;
  height: 29px;
  font-size: 15px;
  opacity: 1;
  cursor: pointer;
  text-decoration: none;
}

.header {
  background: #446dff 0% 0% no-repeat padding-box;
  opacity: 1;
  font-size: 25px;
  text-align: center;
  line-height: 30px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  padding: 22px;
}

/* For Mobile Devices */
@media only screen and (max-width: 768px) {
  .App {
    width: 100%;
  }
  .topbar {
    width: 100%;
    min-height: 50px;
  }

  .quanment {
    width: 100%;
    font-size: inherit;
    text-align: center;
  }

  .history {
    width: 100%;
    font-size: 13px;
    text-align: center;
  }
  .header {
    width: inherit;
    font-size: inherit;
    padding: 15px;
  }
}

/* For Ipad*/
@media only screen and (max-width: 768px) and (min-height: 1024px) {
  .App {
    width: 100%;
  }
  .topbar {
    width: 100%;
  }

  .quanment {
    width: 100%;
    font-size: 25px;
    text-align: center;
  }

  .history {
    width: 100%;
    font-size: 20px;
    text-align: center;
  }
  .header {
    width: inherit;
    font-size: 30px;
  }
}

/*For Iphone 5 and SE*/
@media only screen and (max-width: 320px) and (min-height: 568px) {
  .App {
    width: 100%;
  }
  .topbar {
    width: 100%;
  }

  .quanment {
    width: 100%;
    font-size: 15px;
    text-align: center;
  }

  .history {
    width: 100%;
    font-size: 12px;
    text-align: center;
  }
  .header {
    width: inherit;
    font-size: 15px;
  }
}

/* For Ipad Pro*/
@media only screen and (max-width: 1024px) and (min-height: 1366px) {
  .App {
    width: 100%;
  }
  .topbar {
    height: auto;
    width: 100%;
  }

  .quanment {
    width: 100%;
    font-size: 30px;
    text-align: center;
    height: 30px;
  }

  .history {
    width: 100%;
    font-size: 25px;
    text-align: center;
  }
  .header {
    width: inherit;
    font-size: 40px;
  }
}
