$background-color: #446dff;
$font-color: #ffffff;
$main-background-color: #f5f6fa;

.optiontype {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $main-background-color;

  &-header {
    background: $background-color;
    padding: 22px;
    flex: 0 0 auto;
    text-align: center;

    &-text {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 25px;
      line-height: 30px;
      letter-spacing: 0px;
      color: $font-color;
      text-transform: capitalize;
      opacity: 1;
    }
  }

  &-choosetype {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  &-choosetype-text {
    text-align: left;
    padding: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 15px;
  }
}
