$background-color: #446dff;
$font-color: #ffffff;
$main-background-color: #f5f6fa;

.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $main-background-color;
  height: 100vh;

  &-header {
    background: $background-color;
    padding: 22px;
    flex: 0 0 auto;
    text-align: center;

    &-text {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 25px;
      line-height: 30px;
      letter-spacing: 0px;
      color: $font-color;
      text-transform: capitalize;
      opacity: 1;
    }
  }
}

.parentchoosetype {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.choosetype {
  display: flex;
  flex-direction: column;

  &-text {
    text-align: left;
    padding-top: 40px;
    line-height: 19px;
    padding-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 15px;
  }
}
