.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

.choostypemain {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.choostype {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  margin-top: 60px;
  font-weight: 600;
  text-transform: uppercase;
  width: 487px;
}

/* For Mobile Devices*/
@media only screen and (max-width: 768px) {
  .home {
    width: 100%;
  }

  .choostypemain {
    width: 99%;
    padding-top: 50px;
  }

  .choostype {
    width: 94%;
  }
}

/* For Ipad*/
@media only screen and (max-width: 768px) and (min-height: 1024px) {
  .home {
    margin-top: 100px;
    width: 100%;
  }

  .choostypemain {
    width: 99%;
    padding-top: 50px;
  }

  .choostype {
    width: 77%;
    font-size: 25px;
  }
}

/* For Iphone 5 and SE*/
@media only screen and (max-width: 320px) and (min-height: 568px) {
  .home {
    width: 100%;
  }

  .choostypemain {
    width: 99%;
    padding-top: 0px;
  }

  .choostype {
    width: 94%;
    font-size: 15px;
    margin-top: 80px;
  }
}

/* For Ipad Pro*/
@media only screen and (max-width: 1024px) and (min-height: 1366px) {
  .home {
    margin-top: 150px;
    width: 100%;
  }

  .choostypemain {
    width: 99%;
    padding-top: 50px;
  }

  .choostype {
    width: 77%;
    font-size: 30px;
  }
}
