$backgraound-color: #f5f6fa;

$image1-backgraound-color: #edfdf9;
$image2-backgraound-color: #ffeef0;
$image3-backgraound-color: #e8ddff;
$hover-length-color: #0ec098;
$hover-temperature-color: #fd5160;
$hover-volume-color: #7224ff;

.parentcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: $backgraound-color;
  background-position: unset;
  width: 40%;

  &-length {
    width: 173px;
    height: 137px;
    border: hidden;
    border-width: 1px;
    border-radius: 7px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    background-color: white;
  }

  &-length:hover {
    background-color: $image1-backgraound-color;
    border: solid;
    border-width: 1px;
    border-color: $hover-length-color;
    border-radius: 7px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: $hover-length-color;
  }

  &-temperature {
    width: 173px;
    height: 137px;
    border: hidden;
    border-width: 1px;
    border-radius: 7px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    background-color: white;
  }

  &-temperature:hover {
    background-color: $image2-backgraound-color;
    border: solid;
    border-width: 1px;
    border-color: $hover-temperature-color;
    border-radius: 7px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: $hover-temperature-color;
  }

  &-volume {
    width: 173px;
    height: 137px;
    border: hidden;
    border-width: 1px;
    border-radius: 7px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    background-color: white;
  }

  &-volume:hover {
    background-color: $image3-backgraound-color;
    border: solid;
    border-width: 1px;
    border-color: $hover-volume-color;
    border-radius: 7px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: $hover-volume-color;
  }
}
