$font-color: #000000;
$background-color: #301818;

.topbarcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 75px;

  &-quantment {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 21px;
    line-height: 31px;
    font-weight: 600;
    letter-spacing: 0px;
    color: $font-color;
    opacity: 1;
    cursor: pointer;
  }

  &-history {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0px;
    color: $font-color;
    opacity: 1;
    cursor: pointer;
  }
}
